# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
venv/

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Media files
*.jpg
*.jpeg
*.mp4

# Backup/temporary files
*~
